
  @media only screen and (min-width:600px )and (max-width:1000px) {

  .nytLogoTablet{
    width: 25%;
  }


  .dropdownTablet {
    padding-bottom: 0rem;
  }

  .flexChooseTablet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .singlenews {
    width: 33%;
    min-height: 55vh;
    position: relative;
    background-size: cover;
    background-position: center;
  }

  #newsblock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  // .flexTablet {
  //   display: flex;
  // }
}


    @media only screen and (min-width:1000px ){

      .nytLogoDesktop{
        width: 20%;
      }

      .dropdownTablet {
        padding-bottom: 0rem;
      }

      .flexChooseTablet {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }


      .logoAndDropdown{
        justify-content: flex-start;
      }


    .singlenews {
      width: 25%;
      min-height: 65vh;
      position: relative;
      background-size: cover;
      background-position: center;
    }

    #newsblock {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
