.fontOpenSans {
  font-family: 'Open Sans', sans-serif;
}


.color-white{
	color: white;
}

.greyfont {
	color: #969696;
}

.fontsize-med {
  font-size: 1.6rem;
}
.fontsize40px {
	font-size: 30px;
}
.fontsize-sm{
	font-size:20px;
}
