.padding-top-bottom-medium{
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.padding-top-med{
	padding-top: 4rem;
}

.padding-bottom-small{
	padding-bottom: 2rem;
}

.padding-top-small{
	padding-top: 2rem;
}
