.padding-top-bottom-medium{
	padding-top: 4rem;
	padding-bottom: 4rem;
}
.padding-bottom-med{
	padding-bottom: 4rem;
}
.padding-top-med{
	padding-top: 4rem;
}

.padding-top-bottom-small {
	padding-top: 2rem;
	padding-bottom:2rem;
}
.padding-top-small{
	padding-top: 2rem;
}
.padding-bottom-small{
	padding-bottom: 2rem;
}
.padding-left-small{
  padding-left: 2rem;
}
.padding-right-small{
	padding-right: 2rem;
}

.padding-right-xsmall{
	padding-right: 1rem;
}

.padding-top-bottom-xsmall {
	padding-top: 1rem;
	padding-bottom:1rem;
}

.padding-xsmall {
	padding: 0.5rem;
}

.padding-left-right-med {
	padding-left: 3rem;
	padding-right: 3rem;
}

.padding-top-bottom-med {
	padding-top: 5rem;
	padding-bottom: 5rem;
}
